# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Final-Year-Project.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../:\Final-Year-Project\.idea\.idea.Final-Year-Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
